body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    z-index: 0;
    color: #4D2C37;
    overflow: hidden;
}

.portfolio {
    color: #4D2C37;
}


/********************/


/*Menu de navigation*/


/*******************/

nav {
    position: absolute;
    color: #EADDCE;
    font-size: 25px;
    background-color: #4D2C37;
    z-index: 1;
    width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 30px;
    transition-duration: 0.4s;
}

nav>img {
    width: 140px;
    height: 100px;
}

ul {
    list-style: none;
    margin-top: 70%;
    margin-right: 40px;
}

li {
    margin-top: 40%;
}

.lien {
    text-decoration: none;
}

.lien:link {
    color: #EADDCE;
}

.lien:visited {
    color: #EADDCE;
}

.lien:hover {
    color: #f3d74d;
}

.bouton {
    position: absolute;
    top: 10px;
    left: 210px;
    width: 27px;
    height: 27px;
}


/*******************/


/*Partie principale*/


/*******************/

main {
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 18px;
    background: linear-gradient(#EADDCE, #FFFAAE);
    transition-duration: 0.4s;
    overflow-y: scroll;
}

h1 {
    padding-bottom: 40px;
}

.conteneur {
    display: flex;
}

.conteneur>div {
    flex: 1 1 1;
    margin: 20px;
    width: 30%;
}

.conteneur>div>img {
    min-width: 100px;
    max-width: 200px;
    min-height: 100px;
    max-height: 200px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.portbouton {
    background-color: #FFFAAE;
    padding: 10px;
    border-radius: 8px;
    border: dotted #4D2C37 2px;
}

.clem {
    margin-top: 57px;
}

.ant {
    margin-top: 152px;
}

.portbouton:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f3d74d;
    transition-duration: 0.4s;
}

.portfolio {
    text-decoration: none;
    font-weight: bold;
}

video {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


/********/


/*Footer*/


/********/

footer {
    position: absolute;
    bottom: 0;
    left: 250px;
    right: 0;
    background-color: #FFFAAE;
    transition-duration: 0.4s;
}

footer>a {
    text-decoration: none;
    color: #4D2C37;
    font-weight: bold;
}